* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
    font-family: 'Lato', sans-serif;
    height: 100vh;
}

/* Barra de rolagem personalizada */
::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(236, 236, 236);
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #6e3112;
}


/* ESTILO DO CABEÇALHO */
.logo img {
    width: 80px;
    transition: all 0.4s ease;
}

.logo img:hover {
    transform: scale(1.04);
}


nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #6e3112;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.nav-list li a {
    color: #e0c59f;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    transition: 0.4s;
}

.nav-list li a:hover {
    opacity: 0.7;
}


.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.4s;
}

.nav-list.active {
    transform: translateX(0);
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


/* ESTILO DO SLIDER */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border-radius: 0 3px 3px 0;
    opacity: 0.6;
    transition: all .3s;
}

.prev:hover,
.next:hover {
    transform: scale(1.2);
    opacity: 1;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* ESTILOS DO CONTEÚDO PRÍNCIPAL */
main {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


/* ESTILO DA SECTION 1 */
.section-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#titulo {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #6e3112;
    margin: 40px 20px;
}

.card-promotion-content{
    margin: 0 15px;
    transition: all 0.4s;
}

.card-promotion-content:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.card-promotion {
    width: 153px;
    height: 153px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
    transition: all 0.4s;
}

.card-promotion img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card-promotion-content p {
    text-align: center;
    margin: 7px 0 20px 0;
    font-size: 20px;
    font-weight: 600;
    color: #6e3112;
}


/* ESTILOS DO TEXTO INFORMATIVO */
#info-text {
    margin: 35px 12px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
    border-radius: 10px;
}


/* ESTILO SECTION 2 */
.section-2 {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card {
    background-color: #fff;
    width: 100%;
    max-width: 320px;
    margin: 20px 12px 30px 12px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
    transition: all 0.6s;
}

.card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.336);
    transform: translateY(-4px);
}

.card img {
    width: 100%;
    height: 370px;
    border-radius: 10px 10px 0 0;
}

.card-description p {
    font-weight: 600;
    font-size: 17px;
    margin: 15px 14px 20px 20px;
    display: inline-block;
}

.card-description .especificacoes {
    color: gray;
    font-size: 14px;
}

.card-produto-espec {
    margin: 0 20px 20px 20px;
    text-align: justify;
}

.comprar-content {
    margin: 0px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section2-preco {
    display: inline;
    font-size: 20px;
    font-weight: 600;
}

.section2-subTitulo {
    display: inline;
    color: gray;
    font-size: 14px;
}


.section2-button {
    padding: 8px 12px;
    border-radius: 7px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    background-color: #DDBA88;
    border: none;
    cursor: pointer;
    transition: all 0.4s;
}

.section2-button:hover {
    background-color: #c7a679;
}

/* ESTILOS SECTION 5 */
#contato {
    padding: 40px 0px;
    background-color: #DDBA88;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#contato div {
    padding: 10px;
}

#contato div h4 {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

#contato div img {
    margin-bottom: -8px;
    margin-right: 4px;
    text-align: center;
    width: 30px;
}

#contato div p a {
    color: #fff;
    transition: all 0.4s ease-in;
}

#contato div p a:hover {
    color: #6e3112;
}


/* ESTILOS FOOTER */
.footer {
    text-align: center;
    padding: 30px;
}

.footer h4 {
    color: #6e3112;
    font-size: 35px;
}

.agradecimentos {
    font-size: 17px;
}

.footer ul {
    list-style: none;
}


.dev {
    font-weight: normal;
    margin: 20px 0 0 15px;
    font-size: 13px;
}

.dev-copy {
    font-weight: normal;
    font-size: 13px;
}

.dev-copy a {
    color: #6e3112;
    text-decoration: none;
}

.dev-copy a:hover {
    text-decoration: underline;
}


/* CSS ANIMATIONS */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/* CSS MEDIA QUERIES */
@media (max-width: 720px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 10vh;
        right: 0;
        z-index: 1000;
        width: 50vw;
        height: 85vh;
        background: #6e3112;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        padding: 0 10% 10px 10%;
        margin-left: 0;
        opacity: 0;
        border-bottom: 1px solid #4b1d06;
    }

    .mobile-menu {
        display: block;
    }
}

@media (max-width: 1040px) {
    .section-2 {
        justify-content: center;
    }

    .card {
        max-width: 280px;
    }

    .card img {
        height: 300px;
    }
}

@media (max-width: 610px) {

    .card {
        max-width: 80%;
    }

    .card img {
        height: 370px;
    }

    #contato {
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }

    #contato div {
        margin-bottom: 20px;
    }
}